<!DOCTYPE html>
<html>
  <head>
    <title>Update Customer Form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <style>
    input[type="text"], input[type="password"], input[type="email"], select
    {
        color: royalblue;
    }
    input[type="checkbox"] + label, input[type="radio"] + label
    {
        color: black;
        padding-left: 0.4em;
    }
    input[type="text"]:invalid, input[type="password"]:invalid, input[type="email"]:invalid, input[type="tel"]:invalid, select:invalid, textarea:invalid
    {
        box-shadow: None;
        -webkit-text-fill-color: black;
        opacity: 50%;
    }
      html, body {
      min-height: 100%;
      }
      body, div, form, input, select, p { 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: #666;
      line-height: 22px;
      }
      h1 {
      position: absolute;
      margin: 0;
      font-size: 38px;
      color: #fff;
      z-index: 2;
      }
      p.top-info {
      margin: 10px 0;
      }
      .testbox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
      padding: 20px;
      }
      form {
      width: 100%;
      padding: 20px;
      border-radius: 6px;
      background: #fff;
      box-shadow: 0 0 25px 0 #1c87c9; 
      }
     .banner {
      position: relative;
      height: 210px;
      background-image: url("/uploads/media/default/0001/02/fb57ab781c34da322c884532bfec751e843e36fc.jpeg");  
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      }
      .banner::after {
      content: "";
      background-color: rgba(0, 0, 0, 0.6); 
      position: absolute;
      width: 100%;
      height: 100%;
      }
      input, select, textarea {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      }
      input {
      width: calc(100% - 10px);
      padding: 5px;
      -webkit-text-fill-color
      }
      input[type="date"] {
      padding: 4px 5px;
      -webkit-text-fill-color
      }
      select {
      width: 100%;
      padding: 7px 7px;
      background: transparent;
      }
      .item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
      color: #1c87c9;
      }
      .item input:hover, .item select:hover {
      border: 1px solid transparent;
      box-shadow: 0 0 6px 0 #1c87c9;
      color: #1c87c9;
      }
      .item {
      position: relative;
      margin: 10px 0;
      }
      input[type="date"]::-webkit-inner-spin-button {
      display: none;
      }
      .item i, input[type="date"]::-webkit-calendar-picker-indicator {
      position: absolute;
      font-size: 20px;
      color: #a9a9a9;
      -webkit-text-fill-color
      }
      .item i {
      right: 5%;
      top: 30px;
      z-index: 1;
      }
      [type="date"]::-webkit-calendar-picker-indicator {
      right: 1%;
      z-index: 2;
      opacity: 0;
      -webkit-text-fill-color
      cursor: pointer;
      }
      input[type=radio]  {
      display: none;
      }
      label.radio {
      position: relative;
      display: inline-block;
      margin: 5px 20px 10px 0;
      cursor: pointer;
      }
      .question span {
      margin-left: 30px;
      }
      span.required {
      margin-left: 0;
      color: red;
      }
      label.radio:before {
      content: "";
      position: absolute;
      left: 0;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      border: 2px solid #ccc;
      }
      input[type=radio]:checked + label:before, label.radio:hover:before {
      border: 2px solid #1c87c9;
      }
      label.radio:after {
      content: "";
      position: absolute;
      top: 6px;
      left: 5px;
      width: 8px;
      height: 4px;
      border: 3px solid #1c87c9;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
      opacity: 0;
      }
      input[type=radio]:checked + label:after {
      opacity: 1;
      }
      .btn-block {
      margin-top: 10px;
      text-align: center;
      }
      button {
      width: auto;
      border: none;
      border-radius: 5px; 
      background: #1c87c9;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      cursor: pointer;
      }
      button:hover {
      background: #1e6fa0;
      }
      @media (min-width: 568px) {
      .name-item, .contact-item, .position-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      }
      .name-item input {
      width: calc(50% - 20px);
      }
      .contact-item .item, .position-item .item {
      width: calc(50% - 8px);
      }
      .contact-item input, .position-item input {
      width: calc(100% - 12px);
      }
      .position-item select {
      width: 100%;
      }
      }
    </style>
  </head>
  <body>
    <div class="testbox">
      <form action="/customers/<%= @customer.cid %>" class="edit_customer" id="edit_customer_<%= @customer.cid %>" method="post">
        <input name="_method" type="hidden" value="patch" />
        <div class="banner">
          <h1>Customer Update Form</h1>
        </div>
        <p class="top-info">Thank you for your interest in working with us. Please check below for available job opportunities that meet your criteria and send your application by filling out the Job Application Form.</p>
        <div class="contact-item">
          <div class="item">
            <p>ID<span class="required">*</span></p>
            <input type="text" name="cid"  value=<%= @customer.cid %> readonly/>
          </div>
          <div class="item">
            <p>Created At<span class="required">*</span></p>
            <input type="text" name="created_at"  value=<%= @customer.created_at %> readonly/>
          </div>
        </div>
        <div class="contact-item">
          <div class="item">
            <p>First Name<span class="required">*</span></p>
            <input type="text" name="fname"  value=<%= @customer.fname %> readonly/>
          </div>
          <div class="item">
            <p>Last Name<span class="required">*</span></p>
           <input type="text" name="lname"  value=<%= @customer.lname %> readonly/>
          </div>
        </div>
        <div class="contact-item">
          <div class="item">
            <p>Email<span class="required">*</span></p>
            <input type="text" name="email_id"  value=<%= @customer.email_id %> readonly/>
          </div>
          <div class="item">
            <p>Phone<span class="required">*</span></p>
            <% if @customer.phone.nil? %>
                <input type="text" name="phone"  required/>
            <%else%>
                <input type="text" name="phone"  value=<%= @customer.phone %> required/>
            <% end %>
          </div>
        </div>
        <div class="contact-item">
          <div class="item">
            <p>Address<span class="required">*</span></p>
            <% if @customer.address.nil? %>
                <input type="text" name="address"  required/>
            <%else%>
                <input type="text" name="address"  value=<%= @customer.address %> required/>
            <% end %>
          </div>
          <div class="item">
            <p>City<span class="required">*</span></p>
           <% if @customer.city.nil? %>
                <input type="text" name="city"  required/>
            <%else%>
                <input type="text" name="city"  value=<%= @customer.city %> required/>
            <% end %>
          </div>
        </div>
        <div class="contact-item">
          <div class="item">
            <p>State<span class="required">*</span></p>
            <% if @customer.state.nil? %>
                <input type="text" name="state"  required/>
            <%else%>
                <input type="text" name="state"  value=<%= @customer.state %> required/>
            <% end %>
          </div>
          <div class="item">
            <p>Zip<span class="required">*</span></p>
           <% if @customer.zip.nil? %>
                <input type="text" name="zip"  required/>
            <%else%>
                <input type="text" name="zip"  value=<%= @customer.zip %> required/>
            <% end %>
          </div>
        </div>
        <div class="question">
          <p>What is your gender?<span class="required">*</span></p>
          <div class="question-answer">
            <div>
              <input type="radio" value="Male" id="radio_1" name="gender" <%= @customer.gender == "Male" ? "checked" : "" %>/>
              <label for="radio_1" class="radio"><span>Male</span></label>
            </div>
            <div>
              <input type="radio" value="Female" id="radio_2" name="gender" <%= @customer.gender == "Female" ? "checked" : "" %>/>
              <label for="radio_2" class="radio"><span>Female</span></label>
            </div>
            <div>
              <input type="radio" value="Other" id="radio_3" name="gender" <%= @customer.gender == "Other" ? "checked" : "" %>/>
              <label for="radio_3" class="radio"><span>Other</span></label>
            </div>
          </div>
        </div>
        <div class="contact-item">
          <div class="item">
            <p>Insurance Company<span class="required">*</span></p>
             <% if @customer.ins_comp.nil? %>
               <input type="text" name="ins_comp"  required/>
            <%else%>
                <input type="text" name="ins_comp"  value=<%= @customer.ins_comp %> required/>
            <% end %>
          </div>
          <div class="item">
            <p>Insurance Number<span class="required">*</span></p>
            <% if @customer.ins_num.nil? %>
               <input type="text" name="ins_num"  required/>
            <%else%>
                <input type="text" name="ins_num"  value=<%= @customer.ins_num %> required/>
            <% end %>
          </div>
        </div>
        <div class="question">
          <p>Who is your Credit Crad provider?<span class="required">*</span></p>
          <div class="question-answer">
            <div>
              <input type="radio" value="VISA" id="radio_4" name="provider" <%= @customer.provider == "VISA" ? "checked" : "" %>/>
              <label for="radio_4" class="radio"><span>VISA</span></label>
            </div>
            <div>
              <input type="radio" value="Master Card" id="radio_5" name="provider" <%= @customer.provider == "Master Card" ? "checked" : "" %>/>
              <label for="radio_5" class="radio"><span>Master Card</span></label>
            </div>
            <div>
              <input type="radio" value="Discover" id="radio_6" name="provider" <%= @customer.provider == "Discover" ? "checked" : "" %>/>
              <label for="radio_6" class="radio"><span>Discover</span></label>
            </div>
            <div>
              <input type="radio" value="Chase" id="radio_7" name="provider" <%= @customer.provider == "Chase" ? "checked" : "" %>/>
              <label for="radio_7" class="radio"><span>Chase</span></label>
            </div>
            <div>
              <input type="radio" value="Amercian Express" id="radio_8" name="provider" <%= @customer.provider == "American Express" ? "checked" : "" %>/>
              <label for="radio_8" class="radio"><span>American Express</span></label>
            </div>
          </div>
        </div>
        <div class="contact-item">
          <div class="item">
            <p>Credit Card Number<span class="required">*</span></p>
            <% if @customer.zip.nil? %>
                <input type="text" name="card_num" placeholder="Enter 16 digit number" required/>
            <%else%>
                <input type="text" name="card_num" placeholder="Enter 16 digit number" value=<%= @customer.card_num %> required/>
            <% end %>
          </div>
          <div class="item">
            <p>Exp Date<span class="required">*</span></p>
            <% if @customer.zip.nil? %>
                <input type="text" name="exp_date" placeholder="MM/YYYY"  required/>
            <%else%>
                <input type="text" name="exp_date"  value=<%= @customer.exp_date %> required/>
            <% end %>
          </div>
        </div>
        
        
        <div class="btn-block">
          <button name="Commit" type="submit" Value=""Update Customer record>update</button>
        </div>
      </form>
    </div>
  </body>
</html>