<style>
.dropbtn {
    background-color: #6f92b5;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    }

    .dropbtn:hover, .dropbtn:focus {
    background-color: black;
    }

    #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    }

    #myInput:focus {outline: 3px solid #ddd;}

    .dropdown {
    position: relative;
    display: inline-block;
    }

    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    }

    .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }

        .success {
  background-color: rosybrown;

}

    .dropdown a:hover {background-color: #ddd;}

    .show {display: block;}

    a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #6f92b5;
  color: black;
}

.next {
  background-color: #4CAF50;
  color: white;
}

.round {
  border-radius: 50%;}

</style>

 <center><h1 style="font-size:1.50em;">Order Details</h1></center>

 <%= link_to 'Back', {controller: "orders", action: "index"},{:class => :previous  } %>

<h2> This Order has total of <%= @order_products.count%> <%= @order_products.count == 1 ? "product" : "products" %></h2>
  <div class="success">
    <p style="color:black; font-family:cursive;"><strong>NOTE: </strong> These are order details and belong to one particular order that we just clicked. It also contains the customization infomration that we did on Shopify.  </p>
  </div>

<table class="table table-dark table-striped">
    <thead style="background-color: rosybrown;" >
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product ID</th>
      <th scope="col">Title</th>
      <th scope="col">Quantity</th>
      <th scope="col">Glass Type</th>
      <th scope="col">Lense Type</th>
      <th scope="col">Glass Material</th>

    </tr>
  </thead>

  <tbody style="background-color:white;">
    <% i = 0%>
    <% @order_products.each do |line_item| %>
    <tr style="color:black; font-weight:400;">
      <th scope="row"><%= i += 1 %></th>
      <td><%= line_item.pid %></td>
      <td><%= line_item.pname %></td>
      <td><%= line_item.quantity %></td>
      <td><%= line_item.glass_type %></td>
      <td><%= line_item.lense_type %></td>
      <td><%= line_item.glass_material %></td>
    </tr>
    <%end%>
  </tbody>
</table>

