<style>

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}
 .dropbtn-1 {
  padding: 16px;
  }

  .dropbtn {
  background-color: #2e4c6d;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
  }
  
  #myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  background-color: #3c4739;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus {outline: 3px solid #ddd;}
  
  .dropdown {
  position: relative;
  display: inline-block;
  margin: 0% 45%;
  }
  
  .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  }
  
  .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
</style>
<section id="banner" data-video="images/banner">
					<div class="inner">
						<header>
							<h1>Eye Glasses</h1>
							<p>A responsive Eye Glasses store with a superb collection<br />
							designed by <a href="https://templated.co/">Templated</a> and released under the Creative Commons License.</p>
						</header>
						 <%= link_to "Go to Orders", orders_path, {:class => "dropbtn dropbtn-1"} %>
					</div>
				</section>

			<!-- Main -->
				<div id="main">
					<div class="inner">

					<!-- Boxes -->
						<div class="thumbnails">
                        
                        <% @products.each do |product| %>
                          
                            <div class="box">
                            <%=  link_to image_tag(product.images.first.src, border: 0), {action: 'show', controller: 'apps', id: product.id}, {class: 'image fit'} %>
								
								<div class="inner">
									<h3><%= product.title %></h3>
                                    <p><%= strip_tags(product.body_html) %></p>
                                    <%=  link_to "Details", {action: 'show', controller: 'apps', id: product.id}, class: "button fit" %>
									
								</div>
                            </div>
                            <% end %>

						</div>

					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<h2>Etiam veroeros lorem</h2>
						<p>Pellentesque eleifend malesuada efficitur. Curabitur volutpat dui mi, ac imperdiet dolor tincidunt nec. Ut erat lectus, dictum sit amet lectus a, aliquet rutrum mauris. Etiam nec lectus hendrerit, consectetur risus viverra, iaculis orci. Phasellus eu nibh ut mi luctus auctor. Donec sit amet dolor in diam feugiat venenatis. </p>

						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>. Videos: <a href="http://coverr.co/">Coverr</a>.</p>
					</div>
				</footer>

